@import "tailwindcss";

@theme {
  --color-brand: #1a2e4a;

  --color-primary-50:  #450a0a;
  --color-primary-100: #7f1d1d;
  --color-primary-500: #ef4444;
  --color-primary-600: #dc2626;
  --color-primary-700: #b91c1c;
  --color-primary-800: #991b1b;

  --color-danger-50:  #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;

  --color-snimanje-100: #f3e8ff;
  --color-snimanje-700: #7c3aed;
}

@layer base {
  button {
    cursor: pointer;
  }
}
